
@font-face {
    font-family: 'Russo';
    src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
}
.h-80dvh{
    min-height: 80dvh;
}
.h-100dvh{
    min-height: 100dvh;
}
.bg-opc{
    background-color: #383f47;
}

.icon-link-hover:hover{
    color: aliceblue;

}
.f-russo{
    font-family: 'Russo';
}

.card-bg{
    background: rgb(10,9,18);
    background: linear-gradient(0deg, rgba(10,9,18,1) 0%, rgba(0, 0, 0, 0.205) 63%); 
}

#card-slide-custom::-webkit-scrollbar{
    display: none;
}

@media (max-width:780px){
    .side-bar{
        position: absolute;
        z-index: 1;
        bottom: 0px;
        background-color: #383f4700;

        opacity: 100%;

    }
    .list-side-bar{
        display: flex;
        flex-direction: row !important;
        min-width: 100dvw !important;
        gap:2rem;
        min-height: 20px;
        margin-bottom: 0px;
        background-color: #383f471e;


    }
    .h-100dvh{
        min-height: auto;
    }
}




//log


:root{
    --main: rgb(2, 1, 17);
    --branco: white;
}

.sub-do-content{
    top:20%;
    width: 400px;

}

.do-container{
    background-image: linear-gradient(to bottom, rgb(10, 91, 214) 35%, rgb(2, 1, 17) 30%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#form{
    background-color: var(--main);
}

.bg-main{
    background-color: var(--main) !important;
}

.log-container{
    background: url('../../public/img/background.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.log-form-container{
    background: rgba(5, 7, 24, 0.658);
    width: min-content;
    padding: 2rem 2rem;
    min-width: 370px;
    border: 1px solid rgb(226, 43, 43);
    box-shadow: 1px 1px 5px rgb(226, 43, 43);
    
}

.raunded-input{
    transition: 0.6s;
    background-color: rgb(13, 15, 36);
}
.raunded-input::placeholder
{
color: white;
}
.raunded-input:focus
{
    background-color: rgb(13, 15, 36);
}
.bg-main{
    background-color: var(--main) !important;
}

.dropdown-custom{
    width: min-content !important;
}
.form-control::placeholder{
    color: white !important;
}

.msg{
    z-index: 1 !important;
}

@media (max-width: 600px) {
    
.log-form-container{
    display: grid;
    align-items: center;
    background: rgba(5, 7, 24, 0.658);
    width: 100%;
    min-height: 100dvh;
}

.do-container{
    background-image: linear-gradient(to bottom, rgb(214, 10, 10) 35%, rgb(2, 1, 17) 30%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}



.sub-do-content{
    top:17%;
    width: 100%;

}
}